	<div id="comentarios">
		<h2>Comentários</h2>
		<% @local = 0%>
		<% @image.comentarios.each do |comentario| %>
			<% if @local != 0 %><% end %>
			<% @local += 1 %>
			<div class="product_img_wrapper">
				<p><%= link_to @image.usuario.nome, usuario_path(@image.usuario) %> disse: </p>
				<p><%= comentario.titulo %></p>
				<p><%= comentario.conteudo %></p>
				<% if usuario_signed_in? &&  current_usuario.id == comentario.usuario.id%>
					<p><%= link_to "Apagar comentário",	[@image, comentario], :method => :delete, :confirm => "Confirmar?" %></p>
				<% end %>
			</div>
		<% end %>
	</div>
