<div id="templatemo_content">
  
  <table width="321" border="0" align="left" cellspacing="10">
    <tr>
      <td width="279">
	<h2>Editar Imagem</h2>
	<%= image_tag @image.photo.url(:small) %>
	<%= render "form" %>


  </table>
</div>
