<p><%= link_to "Cadastre-se", new_usuario_registration_path %></p>
<p><%= link_to "Entrar", new_usuario_session_path %></p>
<p><%= link_to "Sair", destroy_usuario_session_path, :method => :delete %></p>
