     <%= form_for (@atributo) do |f| %>
	<tr>
		<td width="279"><form id="form1" name="form1" method="post" action="">
		<h2> Nome do atributo </h2>
		<div><%= f.text_field :nome %></div>
	</tr>

    <tr>
    <td><div><%= f.submit "Criar" %></div></td>
    </tr>
    <% end %>


