     <%= form_for (@atributo) do |f| %>
	<tr>
		<td width="279"><form id="form1" name="form1" method="post" action="">
		<h2> Nome do atributo </h2>
		<div><%= f.text_field :nome %></div>
	</tr>

    <tr>
    <td><div><%= f.submit "Criar" %> <font size= "4 " face= "Times New Roman" color="#686b53"><b>
		 | <%= link_to "Voltar", usuario_path(current_usuario, :view => "show") %>
    </b></font></div></td>
    </tr>
    <% end %>


