<div id="templatemo_content">
	<table width="321" border="0" align="left" cellspacing="20">
		<tr><td>
		<h2>Editar Atributo</h2>
		</td></tr>
		<% @atributo.nome%>
		<%= render "form" %>
	</table>
</div>
